/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";



/** Big Things **/

html {
	height: 100%;
	width: 100%;
}

html body {
	height: 100%;
	width: 100%;
	font-family: 'Lato', sans-serif;
}

.center-content {
	height: 100%;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 20px;
}

@media (max-width: 991px) {
  .center-content {
  	padding-left: 5%;
  	padding-right: 5%;
  }
}

.skinny-wrapper {
	padding-left: 10%;
	padding-right: 10%;
}

@media (max-width: 767px) {
  .skinny-wrapper {
		padding: 0;
	}
}



/** General Fields **/

.heading {
	font-size: 1.8em;
}

.small-heading {
	font-size: 1.5em;
}

.field {
	margin-bottom: 0.5em;
}

.timestamp {
	font-size: 0.8em;
}



/** Forms **/

body form .button {
	background: none;
	background-color: #00AF33;
	border: none;
	font-family: 'Lato', sans-serif;
	color: white;
	text-shadow: none;
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	padding: 0.6em 0.9em 0.6em 0.9em;
	border-radius: 5px;
}

body .center-content form .button:hover {
	background: none;
	background-color: #00AF33;
}

.links {
	margin-top: 10px;
}

.links a {
	text-decoration: none;
}



/** Create responsive texts by making all font-size values percentages of these base values */

/* Large desktops and laptops **/
@media (min-width: 1150px) {
  body{font-size:16px;}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  body{font-size:16px;}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  body{font-size:15px;}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  body{font-size:15px;}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  body{font-size:14px;}
}



/** Flash messages **/

.alert-notice {
	background: #CCEBCC;
	color: #006B24;
	border: 0.5px solid #80CC80;
}

.alert-alert, .alert-error {
	background: #E6CCCC;
	color: #8D1919;
	border: 0.5px solid #C08080;
}