// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-entry {
	list-style-type: none;
	line-height: 200%;
}

.comment-entry hr {
	margin: 0 0 20px 0;
}