// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.idea-entry {
	list-style-type: none;
	line-height: 2em;
}

.idea-entry .content {
	margin-top: 0.2em;
	line-height: 1.5em;
}

.idea-entry hr {
	margin: 1em 0 1em 0;
}

#idea_title, #idea_content {
	width: 100%;
}

.multi-column {
	width: 500px;
	-moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}

@media (max-width: 767px) {
  .multi-column {
		width: 350px;
		-moz-column-count: 2;
	  -moz-column-gap: 20px;
	  -webkit-column-count: 2;
	  -webkit-column-gap: 20px;
	  column-count: 2;
	  column-gap: 20px;
	}
}

.multi-column li label {
	font-size: 0.9em;
  font-weight: 400;
}

.category-name {
	padding: 0.2em 0.5em 0.2em 0.5em;
	margin-right: 0.2em;
	border-radius: 15px;
	background-color: #E9E9E9;
	font-weight: normal;
	font-size: 0.8em;
}

.small-heading a {
	text-decoration: none;
	color: black;
}

.small-heading a:hover {
	text-decoration: underline;
	color: black;
}

.user a {
	text-decoration: none;
	color: black;
	font-size: 0.8em;
}

.user a:hover {
	text-decoration: underline;
	color: black;
}

.category-name a {
	text-decoration: none;
	color: #696969;
}

.category-name a:hover {
	text-decoration: none;
	color: black;
}

/*
.circle {
  float: left;
	margin-top: -0.1em;
	padding-right: 0.5em;
	padding-left: 0.5em;
}

.circle:before {
	content: ' \25CF';
  font-size: 0.7em;
}

.difficulty {
	float: left;
}
*/