// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.idea-entry {
	list-style-type: none;
	line-height: 200%;
}

.multi-column {
	-moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
  width: 50%;
  min-width: 50em;
  font-size: 0.8em;
}

.category-name {
	padding: 0.2em 0.5em 0.2em 0.5em;
	margin-right: 0.2em;
	border-radius: 15px;
	background-color: #E9E9E9;
	font-size: 0.8em;
}

.small-heading a {
	text-decoration: none;
	color: black;
}

.small-heading a:hover {
	text-decoration: underline;
	color: black;
}

.user a {
	text-decoration: none;
	color: black;
}

.user a:hover {
	text-decoration: underline;
	color: black;
}

.category-name a {
	text-decoration: none;
	color: #505050;
}

.category-name a:hover {
	text-decoration: none;
	color: black;
}

.circle {
  float: left;
	margin-top: -0.1em;
	padding-right: 0.5em;
	padding-left: 0.5em;
}

.circle:before {
	content: ' \25CF';
  font-size: 0.7em;
}

.difficulty {
	float: left;
}