/** Navbar **/

body .navbar {
	padding: 0 10% 0 10%;
  margin-bottom: 0;
  background: none;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

body .navbar .container-fluid {
	padding: 0;
}

@media (max-width: 767px) {
  body .navbar {
  	padding-left: 5%;
  	padding-right: 5%;
  }
}

body .navbar .navbar-nav {
	margin: 0;
}



/** Make Navbar uncollapsible **/

.navbar-collapse.collapse {
	display: block!important;
}

.navbar-nav>li, .navbar-nav {
	float: left !important;
}

.navbar-nav.navbar-right:last-child {
	margin-right: -15px !important;
}

.navbar-right {
	float: right!important;
}



/** Logo **/

body .navbar .navbar-left li {
	width: 5em;
}

body .navbar .navbar-left li a {
	text-decoration: none;
	color: #00AF33;
	font-size: 30px;
	font-weight: 700;
	padding: 0;
	margin: 15px 0 15px 0;
}

@media (max-width: 767px) {
	body .navbar .navbar-left li a {
		visibility: hidden;
	}
	body .navbar .navbar-left li a:before {
		content: "Ub";
		visibility: visible;
	}
}

body .navbar .navbar-left li a:hover {
	text-decoration: none;
	color: #00AF33;
}



/** Navbar buttons **/

body .navbar .navbar-right li a {
	text-decoration: none;
	color: #696969;
	padding: 15px 0.5em 15px 0.5em;
	margin: 0;
}

.fa-bell {
	color: #696969;
	height: 12px;
	padding-bottom: 16px;
}

.profile a {
	height: 50px;
}

.profile a img {
	height: 1.5em;
	margin-top: -3px;
	border-radius: 50%;
}

.dropdown hr {
	margin: 0;
	padding: 0;
}



/** Search **/

.searchbar {
	margin-top: 9px;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.searchbar #search {
	width: 200px;
	height: 32px;
	padding-left: 30px;
	background-image: image-url("search.png");
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: 8px 8px;
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .searchbar #search{width:140px;}
}