/** Navbar **/

body .navbar {
	padding-left: 2em;
	padding-right: 2em;
  margin-bottom: 0;
  background: none;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}



/** Logo **/

body .navbar .navbar-left li a {
	text-decoration: none;
	color: #00AF33;
	font-size: 30px;
	font-weight: 700;
	padding: 0;
	margin: 15px 0 0 0;
}

body .navbar .navbar-left li a:hover {
	text-decoration: none;
	color: #00AF33;
}

body .navbar .navbar-left {
	margin-right: 50px;
}



/** Navbar buttons **/

body .navbar .navbar-right li a {
	text-decoration: none;
	color: #696969;
	padding: 15px 10px 16px 10px;
}

.fa-bell {
	color: #696969;
	height: 17px;
}

.profile {
	height: 51px;
}

.profile img {
	margin-top: -3px;
	border-radius: 50%;
}



/** Search **/

.searchbar {
	margin-top: 7px;
	margin-bottom: 7px;
	padding-left: 15px;
	padding-right: 15px;
}

.searchbar #search {
	width: 200px;
	height: 36px;
	padding-left: 30px;
	background-image: image-url("search.png");
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: 8px 10px;
}



