/** Navbar **/

body .navbar {
	padding-left: 2em;
	padding-right: 2em;
  margin-bottom: 0;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}



/** Logo **/

body .navbar .navbar-left li a {
	text-decoration: none;
	color: #00AF33;
	font-size: 1.5em;
	font-weight: 700;
}

body .navbar .navbar-left li a:hover {
	text-decoration: none;
	color: #00AF33;
}



/** Navbar buttons **/

.navbar .navbar-right li a {
	text-decoration: none;
}



/** Search **/

.searchbar {
	margin-top: 7px;
	width: 15em;
}

.searchbar #search {
	width: 15em;
	height: 36px;
}



