// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notification-entry {
	list-style-type: none;
	line-height: 200%;
}

.unread {
	background-color: #E9E9E9;
}

.notification-entry a {
	text-decoration: none;
	color: black;
}

.no-notifications {
	font-size: 1.5em;
	text-align: center;
	width: 100%;
	margin-top: 50px;
}