// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/** Sign up and sign in **/

.signupsignin {
	width: 25em;
	margin: auto;
}

// .signupsignin form {
// 	width: 30em;
// }

.signupsignin form .facebook {
	background: #3B5999;
	text-decoration: none;
	color: white;
	padding: 0.9em 1.4em 0.9em 1.4em;
	font-size: 1.1em;
	border-radius: 5px;
	display: block;
	text-align: center;
}

.signupsignin input {
	width: 100%;
}

#user_remember_me {
	width: 1em;
	height: 1em;
	margin: 0;
}

#user_remember_me:focus {
	outline: none;
}

.signupsignin .button {
	margin-top: 10px;
}


/** Show **/

.user-info {
	font-size: 120%;
	line-height: 150%;
	margin: auto;
	margin-bottom: 1em;
	width: 250px;
}

.user-info img {
	margin-bottom: 1em;
}

.user-info ul {
	list-style-type: none;
	font-size: 0.8em;
	padding: 0;
}



