<% provide(:title, @category.name) %>

<div class="heading"><%= @category.name %></div>

<% if @ideas.length > 0 %>
	<%= render @ideas %>
<% else %>
	<h4>No ideas in this category yet, we encourage you to sign in and contribute!</h4>
<% end %>