<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
	    <li><%= link_to "Browse Ideas", '#' %></li>
	    <li><%= link_to "Post an Idea", '#' %></li>
      <% if user_signed_in? %>
        <li><%= link_to "Profile", user_path %></li>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>
	  </ul>
  </div>  
</nav>